<div class="container">
  <div class="row">
    <form id="filter">
      <div class="form-group">
        <label for="searchLabel">Search Title</label>
        <input type="email" [(ngModel)]="searchText" class="form-control" name="searchtxt" id="searchInput" placeholder="Search">
      </div>
    </form>
  </div>
  <div class="row">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">PhotoPIC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let photo of photos | paginate: { itemsPerPage: 5, currentPage: p } | sortTitle:searchText " >
          <th scope="row">{{photo.title}}</th>
          <td><img src="{{photo.thumbnailUrl}}" alt="photo"></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
